@font-face {
  font-family: 'Mont';
  src: url('./assets/Montserrat-VariableFont_wght.ttf') format('truetype');
  /* Add additional src lines for other font formats if available */
  font-weight: normal;
  font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 4000;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .Sentance{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  body, html::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }
  

  .content {
    display: flex;
    position: relative;
    top: calc(var(--pos-sticky) * 1px);
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background: linear-gradient(to right, #ffbb00, #ff1100);
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
    transform-origin: top;
    overflow: hidden;
  }

  .sous-body{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-origin: top;
    width: 100%;

    top: 0;
  }
  .damid{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    transform-origin: top;
    overflow: hidden;
  }

  .image-container {
    display: flex;
    position: relative;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
  }

  .content:hover {
    transform: scaleY(1.4);
    filter: grayscale(0%);
  }

  .content:hover .image-container img {
    transform: scaleY(0.714);
    filter: grayscale(0%);
  }

  