.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.5s ease-in-out infinite;
    height: calc(100vh - var(--scroll-progress) * 85vh);
    background-color: rgb(0, 0, 0);
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* opacity: calc(1 - var(--scroll-progress) * 0.5); */
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
  }
  
  .navbar ul li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  .fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .fullscreen .navbar-content {
    flex-direction: column;
  }
  
  .fullscreen ul {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .fullscreen ul li {
    margin: 1rem 0;
  }

  .svg-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    transition: all 0.3s ease;
  }
